<a href="https://colab.research.google.com/github/deejay-code/testing/blob/main/Data_Wrangling_and_EDA_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CODING TASK #1 IMPORT DATASET AND PERFORM BASIC STATISTICAL DATA ANALYSIS

In [31]:
# Import Pandas Library
import pandas as pd

In [32]:
# Force Pandas to display all rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
#Let's read a CSV file using Pandas as follows
hr_df = pd.read_csv(r'/content/sample_data/Human_Resources.csv')
hr_df

In [42]:
#Let's obtain the datatype
type(hr_df)

pandas.core.frame.DataFrame

In [ ]:
#Obtain the first and last two rows in the dataframe
hr_df.head(2)
hr_df.tail(2)

In [ ]:
hr_df.mean()

In [58]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   MonthlyIncome             1467 non-null   float64
 2   Attrition                 1470 non-null   object
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1469 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   int64
 8   EducationField            1469 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EmployeeNumber            1469 non-null   float64
 11  EnvironmentSatisfaction   1470 non-null   int64
 12  Gender                    1469 non-null   object
 13  HourlyRate                1470 non-null   int64
 14  JobInvolvement            1470 non-null   int64
 15  JobLevel                  1470 non-null   int64
 16  JobRole                   1469 non-null   object
 17  JobSatisfaction           1470 non-null   int64
 18  MaritalStatus             1469 non-null   object
 19  MonthlyRate               1468 non-null   float64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1469 non-null   float64
 24  PerformanceRating         1469 non-null   float64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(5), int64(21), object(9)
memory usage: 402.1+ KB

In [ ]:
hr_df.describe()

Exercise - First Exercise

In [ ]:
hr_df['Age'].describe()

CODING TASK #2. DEALING WITH MISSING DATA

In [82]:
#Let's locate rows that have Null values
#Notice Row index 6 has many missing values
hr_df.isnull().sum()

Age                         0
MonthlyIncome               3
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  1
DistanceFromHome            0
Education                   0
EducationField              1
EmployeeCount               0
EmployeeNumber              1
EnvironmentSatisfaction     0
Gender                      1
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     1
JobSatisfaction             0
MaritalStatus               1
MonthlyRate                 2
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           1
PerformanceRating           1
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [1]:
hr_df.()

SyntaxError: ignored